html, body, #root {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(109, 126, 139);
  background-image: url("background-image.png");
  height: 100%;
}


.nav {
	overflow: hidden;
	text-align: center;
	background-color:	rgb(80, 78, 73);
	height: 40px;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
	font-size: 15px;
	width: 80px;
	line-height: 40px
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav button {
	float: right;
  background-color: rgb(243, 115, 76);
  border: none;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1px solid #ffffff;
}

.nav span {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-right: 10px;
	line-height: 40px
}

.nav #login {
	float: right;
	background-color:	rgb(78, 192, 159);
  border-radius: 4px;
  height: 30px;
  width: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
  border: 1px solid #ffffff;
}

.nav #signup {
	float: right;
	background-color: rgb(88, 116, 189);
  border-radius: 4px;
  height: 30px;
  width: 70px;
  margin: 5px;
  line-height: 30px;
  border: 1px solid #ffffff;
}

.banner {
  margin: auto;
  padding: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000000;
  font-size: 2em;
}

.form {
  border: 2px solid #ffffff;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-top: 30px;
  width: 40%;
  padding: 20px;
  text-align: center;
	background-color:	rgb(80, 78, 73);
  border-radius: 20px;
}

.user-form {
  border: 2px solid #ffffff;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-top: 50px;
  width: 80vw;
  max-width: 600px;
  padding: 20px;
  text-align: center;
	background-color:	rgb(80, 78, 73);
  border-radius: 20px;
}

.user-form input {  
  border: 2px solid rgb(78, 192, 159);
  margin: 10px 0;
  padding: 10px 10px;
  width: 90%;
  border-radius: 8px;
  box-sizing: border-box;
}

.user-form button {  
  background-color: rgb(100, 100, 100);
  padding: 10px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #ffffff;
}

#password-message {
  border: 2px solid rgb(243, 115, 76);
  margin-top: 10px;
  border-radius: 4px;
  padding: 5px 0;
  color: white;
}


.form h2 {
  text-shadow: 1px 1px #727272;
  font-size: 2em;
}

.form input {  
  border: 2px solid rgb(78, 192, 159);
  margin: 5px 0;
  padding: 10px 10px;
  width: 90%;
  border-radius: 16px;
  box-sizing: border-box;
}

#search-button {
  background-color: rgb(100, 100, 100);
  margin: 20px;
  padding: 10px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #ffffff;
}


#mygames, #game, #game-init-page, #about{
  border: 2px solid #ffffff;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-top: 5vh;
  width: 80vw;
  padding: 20px;
  max-width: 700px;
  text-align: center;
	background-color:	rgb(80, 78, 73);
  border-radius: 20px;
}

#helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#playing-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  vertical-align: middle;
  border: 2px solid #ffffff;
  color: rgb(55, 255, 255);
  width: 90vw;
  height: 80vh;
  text-align: middle;
	background-color:	rgb(80, 78, 73);
  border-radius: 20px;
  font-size: 25px;
}

#mygames h2 {
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

#game-init-page h1 {
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  font-size: 3em;
  margin-bottom: 10px;
}

#game-init-page h3 {
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  font-size: 1.5em;
  margin-bottom: 10px;
}


table {
  margin: auto;
  color: #ffffff;
  background-color: rgb(78, 192, 159);
  width: 60%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

tr {
  height: 40px;
}

td{
  padding: 10px;
  border-bottom: 3px solid rgb(80, 78, 73);
  text-align: center;
}

tr:last-child td {
  border-bottom: none;
}

#mygames table {
  margin-bottom: 80px;
}

#game-init-page table{
  width: 40%;
  background-color: rgb(214, 177, 43);
  margin-bottom: 40px;
  margin-top: 5px;
}

#mygames a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

#mygames a:hover {
  background-color: rgb(255, 235, 180);
  color:rgb(80, 78, 73);
}

#mygames input {  
  border: 2px solid rgb(78, 192, 159);
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 60%;
  border-radius: 8px;
  box-sizing: border-box;
}

#leave-button {
  background-color: rgb(243, 115, 76);
	color: white;
  border-radius: 4px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  border: 1px solid #ffffff;
  font-weight: bold;
}

#leave-button:hover {
  background-color: white;
	color: rgb(243, 115, 76);
  border: 1px solid rgb(243, 115, 76);
}

#create-game-button {
  background-color: rgb(100, 100, 100);
  margin: 10px;
  padding: 6px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #ffffff;
}

#create-game-button:hover {
  border: 1px solid rgb(100, 100, 100);
  background-color: white;
  color: rgb(100, 100, 100);
}


#game #mod-table{
  background-color: rgb(255, 235, 180);
  color: #000000;
  font-size: 18px;
}

#game #question-table {
  background-color: rgb(88, 116, 189);
  width: 95%;
  margin-bottom: 50px;
}

#game #question-table th {
  text-shadow: 1px 1px #000000;
  background-color: rgb(53, 70, 112);
}

#game #my-questions-table {
  width: 95%;
}

#edit-table {
  margin: auto;
  color: #ffffff;
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

#edit-table td {
  border-bottom: none;
  text-align: left;
  padding: 2px;
}

#game textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: smaller;
  border: 2px solid rgb(78, 192, 159);
  padding: 5px 10px;
  border-radius: 8px;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

#game textarea:focus {
  background-color: rgb(255, 235, 180);
  
}

#edit-table td:first-child {
  max-width: 60px;
}

#play-button, #start-button, #info-button {
  background-color: rgb(78, 192, 159);
  padding: 15px 20px;
  margin-bottom: 30px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #ffffff;
}

#start-button, #info-button {
  width: 90px;
  margin-left: 3px;
  margin-right: 3px;
}

#info-button {
  background-color: rgb(88, 116, 189);
}

#info-button:hover {
  border: 2px solid rgb(88, 116, 189);
  background-color: white;
}

#info-button:hover a {
  color: rgb(88, 116, 189);
}

#start-button:hover {
  border: 2px solid rgb(78, 192, 159);
  background-color: white;
  color: rgb(78, 192, 159);
}

#info-button a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

#play-button:hover {
  border: 2px solid rgb(78, 192, 159);
  background-color: white;
  color: rgb(78, 192, 159);
}

#modAdd, #show-modAdd, #player-add-button {
  background-color: rgb(214, 177, 43);
  padding: 10px 15px;
  margin-bottom: 50px;
  margin-top: 10px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #ffffff;
}

#modAdd:hover, #show-modAdd:hover, #player-add-button:hover {
  border: 2px solid rgb(214, 177, 43);
  background-color: white;
  color: rgb(214, 177, 43);
}

#player-add-button {
  margin-bottom: 20px;
}

#game h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

#mod-add-form {
  margin: auto;
  width: 50%;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-top: 10px;
  text-align: center;
}

#mod-add-form input {
  border: 2px solid rgb(78, 192, 159);
  padding: 5px 5px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

#question-change-button, #show-followup-button {
  background-color: rgb(214, 177, 43);
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 2px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ffffff;
}

#show-followup-button {
  background-color: rgb(88, 116, 189);
  margin-bottom: 50px;
}

#question-change-button:hover{
  border: 1px solid rgb(214, 177, 43);
  background-color: white;
  color: rgb(214, 177, 43);
}

#show-followup-button:hover{
  border: 1px solid rgb(88, 116, 189);
  background-color: white;
  color: rgb(88, 116, 189);
}

#question-delete-button, #question-create-button {
  background-color: rgb(243, 115, 76);
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 2px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ffffff;
}

#question-create-button {
  background-color: rgb(78, 192, 159);
  margin-bottom: 50px;
}

#question-delete-button:hover{
  border: 1px solid rgb(243, 115, 76);
  background-color: white;
  color: rgb(243, 115, 76);
}

#question-create-button:hover{
  border: 1px solid rgb(78, 192, 159);
  background-color: white;
  color: rgb(78, 192, 159);
}

#question-creation-form {
  margin: auto;
  width: 90%;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-top: 10px;
  text-align: center;
}

#game-init-page input {  
  border: 2px solid rgb(78, 192, 159);
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 50%;
  border-radius: 8px;
  box-sizing: border-box;
}

#playing-view  button{
  background-color: rgb(78, 192, 159);
  padding: 10px 15px;
	color: white;
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  border: 2px solid #ffffff;
}

#question-text {
  padding: 20px 0;
  font-size: 1.5em;
  text-align: center;
}

#player-placement-info {
  color: rgb(255, 235, 180);
  font-size: 13px;
 }

 #player-placement-info .tooltip {
  visibility: hidden;
  margin: auto;
  background-color: rgb(214, 177, 43);
  text-shadow: 1px 1px black;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  margin-bottom: 0;
}

#player-placement-info:hover .tooltip {
  visibility: visible;
}

#notification {
  position: fixed;
  background-color: white;
  border: 4px solid rgb(78, 192, 159);
  color: rgb(78, 192, 159);
  border-radius: 10px;
  width: 80vw;
  height: 10vh;
  text-align: center;
  font-size: 16px;
  line-height: 10vh;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 600px;
}

.home-view form {
  width: 70vw;
  max-width: 600px;
}

